<div class="card">

    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="{{ this.imageUrl }}" alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">{{ this.name }}</p>


                <p class="subtitle is-6">
                    {{#each this.types}} {{this.name}} {{/each}}

                </p>
            </div>
        </div>
    </div>
</div>