<div class="container">
 {{>pokeCard}}
 </div>
 <div class="container">
     <button class="button is-large">
  <a href="/">Go back home</a>
    </button>

    <button class="button is-large">
  <a href="/random">Get another one</a>
  </button>
 </div>



