<div class="container">
    {{> pokeCard pokemon }}

</div>

<div class="container">
    <button class="button">

        <a href="/random">Get another</a>
    </button>
    <button class="button">

        <a href="/">Back to Home</a>
    </button>
</div>